@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&family=Lexend:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:wght@300;500&display=swap");
@font-face {
  font-family: "s1";
  src: url("../../fonts/sarchia.ttf");
}
@font-face {
  font-family: "s2";
  src: url("../../fonts/sarchia2.ttf");
}

body,
* {
  font-family: "s1";
  font-size: 24px;
}
h1 {
  font-family: "s1";
}
p,
a {
  font-family: "s2";
}
h6 {
  font-family: "Raleway", sans-serif;
}
/* START: General styles */
/* .max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
} */
/* END: General styles */

/* START: Hero styles */
/* .hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
} */
/* END: Hero styles */

/* START: Home styles */

/* .home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
} */
/* END: Home styles */

/* START: Car Card styles */
/* .car-card {
  @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

.car-card__content {
  @apply w-full flex justify-between items-start gap-2;
}

.car-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}

.car-card__price {
  @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
}

.car-card__price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.car-card__price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.car-card__image {
  @apply relative w-full h-40 my-3 object-contain;
}

.car-card__icon-container {
  @apply flex group-hover:invisible w-full justify-between text-grey;
}

.car-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.car-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.car-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
} */
/* END: Car Card styles */

/* START: Car Details styles */
/* .car-details__dialog-panel {
  @apply relative w-full max-w-lg max-h-[90vh] overflow-y-auto transform rounded-2xl bg-white p-6 text-left shadow-xl transition-all flex flex-col gap-5;
}

.car-details__close-btn {
  @apply absolute top-2 right-2 z-10 w-fit p-2 bg-primary-blue-100 rounded-full;
}

.car-details__main-image {
  @apply relative w-full h-40 bg-pattern bg-cover bg-center rounded-lg;
} */
/* END: Car Details styles */

/* START: Custom Filter styles */
/* .custom-filter__btn {
  @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
} */
/* END: Custom Filter styles */

/* START: Footer styles */
/* .footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
} */
/* END: Footer styles */

/* START: searchbar styles */
/* .searchbar {
  @apply flex items-center justify-start max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
}

.searchbar__item {
  @apply flex-1 max-sm:w-full flex justify-start items-center relative;
}

.searchbar__input {
  @apply w-full h-[48px] pl-12 p-4 bg-light-white rounded-r-full max-sm:rounded-full outline-none cursor-pointer text-sm;
} */
/* END: searchbar styles */

/* START: search manufacturer styles */
/* .search-manufacturer {
  @apply flex-1 max-sm:w-full flex justify-start items-center;
}

.search-manufacturer__input {
  @apply w-full h-[48px] pl-12 p-4 rounded-l-full max-sm:rounded-full bg-light-white outline-none cursor-pointer text-sm;
}

.search-manufacturer__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.search-manufacturer__option {
  @apply cursor-default select-none py-2 pl-10 pr-4;
} */
/* END: search manufacturer styles */
/* START: General styles */
.max-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.padding-x {
  padding-left: 6px;
  padding-right: 6px;
}

.padding-y {
  padding-top: 16px;
  padding-bottom: 16px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-btn {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  outline: none;
}
/* END: General styles */

/* START: Hero styles */
.hero {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-size: 3.125rem;
  font-weight: 800;
  width: 100%;
}

.hero__subtitle {
  font-size: 1.6875rem;
  color: #2b2c35;
  font-weight: 300;
  margin-top: 1.25rem;
}

.hero__image-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.hero__image {
  position: relative;
  width: 80%;
  height: 590px;
}

/* END: Hero styles */

/* START: Home styles */

@media (min-width: 640px) {
  .home__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.625rem;
    color: #2b2c35;
  }

  .home__filters {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .home__filter-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }

  .home__cars-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    width: 100%;
    padding-top: 3.5rem;
  }

  .home__error-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (min-width: 768px) {
  .home__filters {
    margin-top: 4.5rem;
    gap: 1.875rem;
  }

  .home__cars-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding-top: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .home__filters {
    margin-top: 5.5rem;
    gap: 2.5rem;
  }

  .home__cars-wrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 3rem;
    padding-top: 5.5rem;
  }
}
/* END: Home styles */

/* START: Car Card styles */
.car-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  color: #2b2c35;
  background-color: #f5f8ff;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 1.875rem;
}

.car-card:hover {
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.car-card__content {
  width: 100%;
  display: flex;
  justify-content: space-between;

  gap: 0.5rem;
}

.car-card__content-title {
  font-size: 1rem;
  line-height: 1.625rem;

  font-weight: 700;
  text-transform: capitalize;
}

.car-card__price {
  display: flex;
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 2.375rem;
  font-weight: 800;
}

.car-card__price-dollar {
  align-self: flex-start;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 600;
}

.car-card__price-day {
  align-self: flex-end;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 500;
}

.car-card__image {
  position: relative;
  width: 100%;
  height: 10rem;
  margin-top: 0.75rem;
  object-fit: contain;
}

.car-card__icon-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #747a88;
}

.car-card__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.car-card__icon-text {
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
/* END: Car Card styles */

/* START: Car Details styles */
.car-details__dialog-panel {
  position: relative;
  width: 100%;
  max-width: 32rem;
  max-height: 90vh;
  overflow-y: auto;
  transform: translateY(0);
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 1.5rem;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.car-details__close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: fit-content;
  padding: 0.5rem;
  background-color: #2b59ff;
  border-radius: 50%;
}

.car-details__main-image {
  position: relative;
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}
/* END: Car Details styles */

/* START: Custom Filter styles */
.custom-filter__btn {
  display: flex;
  justify-content: space-between;
}

.custom-filter__options {
  position: absolute;
  margin-top: 0.25rem;
  max-height: 3.75rem;
  width: 100%;
  overflow-y: auto;
  border-radius: 0.375rem;
  background-color: #ffffff;
  padding: 0.25rem;
  font-size: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-filter__option {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 0.6rem;
}
/* END: Custom Filter styles */

/* START: Footer styles */
.footer {
  display: flex;
  flex-direction: column;
  color: #2b2c35;
  margin-top: 1.25rem;
  border-top: 1px solid #d6dbe0;
}

.footer__links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.25rem 1.5rem;
}

.footer__rights {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.footer__links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.footer__link {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  min-width: 10.625rem;
}

.footer__copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #d6dbe0;
  padding: 1.25rem 1.5rem;
}

.footer__copyrights-link {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 1.25rem;
}
/* END: Footer styles */

/* START: searchbar styles */
.searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 48rem;
  position: relative;
  gap: 1rem;
}

.searchbar__item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.searchbar__input {
  width: 100%;
  height: 3rem;
  padding-left: 3rem;
  padding-right: 1rem;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
}

@media (max-width: 640px) {
  .searchbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .searchbar__item {
    width: 100%;
  }

  .searchbar__input {
    border-radius: 3rem;
  }
}
/* END: searchbar styles */

/* START: search manufacturer styles */
.search-manufacturer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.search-manufacturer__input {
  width: 100%;
  height: 3rem;
  padding-left: 3rem;
  padding-right: 1rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
}

.search-manufacturer__options {
  position: absolute;
  margin-top: 0.25rem;
  max-height: 3.75rem;
  width: 100%;
  overflow-y: auto;
  border-radius: 0.375rem;
  background-color: #ffffff;
  padding: 0.25rem;
  font-size: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-manufacturer__option {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
/* END: search manufacturer styles */
